.product-section {
    border: 1px solid #E6EAED;
    width: 100%;
    max-height: 90vh;
    overflow-y: hidden;
    overflow-x: hidden;
}
.x-small-text {
    font-size: x-small;
}
.item-card{
    transition: border-color 0.2s ease;
    max-height: 100%;
}
@media (min-width: 768px) {
  .product-section {
    width: 54%;
  }
}
