:root {
  font-family: "DM Sans", system-ui, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.form-control:focus {
  box-shadow: none !important;
}

.cursor-pointer {
  cursor: pointer;
  transition: border-color 0.2s ease;
}

.cursor-pointer:hover {
  border-color:rgb(254, 159, 67) !important;
}

.selected-group{
  border-color:rgb(254, 159, 67) !important;
}