.cart-section {
    background-color: #f8f9fa;
    border-left: 1px solid #dee2e6;
    width: 100%;
}
.cart-section-card {
    height: 100%;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cart-grid {
  display: grid;
  grid-template-columns: 35% 15% 20% 20% 10%;
  align-items: center;
}

.cart-header {
  border-bottom: 1px solid #dee2e6;
}

@media (min-width: 768px) {
  .cart-section {
    width: 36%;
    flex: 1;
  }
}